{{ block "sublicense-edit" .}}
<html>
	<head>
		<title></title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="/{{ .Alias.StyleSublicense }}" rel="stylesheet">
		<script src="/{{ .Alias.Htmx }}"></script>
		<script src="/{{ .Alias.ErrorMessageHook }}"></script>
	</head>
	<body>
		<div id="header">
			<button onclick="location.href = '/'"><img src="/cdn/arrow-left.svg"></button>
			<h1 id="headline">Sublicense: {{ .Data.Id }}</h1>
		</div>
		<form id="form">
			<label for="fname">Name:</label>
			<input type="text" name="fname" value="{{ .Data.Name }}">
				<label for="fnumberOfSeats">Number of Seats:</label>
			<input type="number" name="fnumberOfSeats" value="{{ .Data.NumberOfSeats }}">
				<label for="fLicenseKey">License Key:</label>
			<input type="text" name="fLicenseKey" value="{{ .Data.LicenseKey }}">
				<label for="fExpiryDate">Expiry Date:</label>
			<input type="date" name="fExpiryDate" value="{{ .Data.ExpiryDate }}">
				<label for="fActiv">Activ:</label>
			{{ if .Data.Activ }}
			<input id="activ" type="checkbox" name="fActiv" checked>
			{{ else }}
			<input id="activ" type="checkbox" name="fActiv">
			{{ end }}
			<input id="send" type="submit" value="Save">
			</div>
		<p id="error"></p>
		</form>
	</body>
</html>
{{ end }}
{{ block "sublicense-create" .}}
<html>
	<head>
		<title></title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="/{{ .Alias.StyleSublicense }}" rel="stylesheet">
		<script src="/{{ .Alias.Htmx }}"></script>
		<script src="/{{ .Alias.ErrorMessageHook }}"></script>
	</head>
	<body>
		<div id="header">
			<button onclick="location.href = '/'"><img src="/cdn/arrow-left.svg"></button>
			<h1 id="headline">Sublicense: Create</h1>
		</div>
		<form id="form">
				<label for="fname">Name:</label>
				<input type="text" name="fname">
				<label for="fnumberOfSeats">Number of Seats:</label>
				<input type="number" name="fnumberOfSeats">
				<label for="fLicenseKey">License Key:</label>
				<input type="text" name="fLicenseKey">
				<label for="fExpiryDate">Expiry Date:</label>
				<input type="date" name="fExpiryDate">
				<label for="fActiv">Activ:</label>
				<input id="activ" type="checkbox" name="fActiv">
				<input id="send" onclick="emptyErrorMessage()" type="submit" value="Create" hx-post="/create">
			</div>
		</form>
		<p id="error"></p>
	</body>
</html>
{{ end }}
